<div class="p-3">
    <div class="row flex-row-reverse text-end">
        <p class="mb-0 my-4 mx-1 close" style="cursor: pointer;font-size: 1.5rem;font-weight: bold;" (click)="closeDialog()"><i class="bi bi-x"></i></p>
   </div> 
    <h2 class="mb-0">Guest Appointment</h2>
    <hr>
    <form [formGroup]="createAppointmentForm" (submit)="createAppointment()">
          
        <div class="form-group">
            <label for="visitor_name">Name</label>
            <input formControlName="visitor_name" type="text" id="visitor_name" class="form-control">
        </div>  
        <!-- <div class="row">
            <div class="form-group  col">
                <label for="appointment_start">Start Time</label>
                <input formControlName="appointment_start" type="datetime-local" name="appointment_start" id="appointment_start" class="form-control">
            </div>
            <div class="form-group  col">
                <label for="appointment_end">End Time</label>
                <input formControlName="appointment_end" type="datetime-local" name="appointment_end" id="appointment_end" class="form-control">
            </div>
        </div> -->
        <div class="my-3">
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput formControlName="appointment_start" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <!-- <div class="form-group">
            <label for="duration">Duration</label> 
            <input formControlName="duration" type="time" step="3600000" min="7:00" max="17:00" name="duration" id="duration" class="form-control">
        </div> -->
        <div class="form-group">
            <label for="duration">Duration</label> 
            <input formControlName="duration" type="text" name="duration" placeholder="Appointment duration in minutes...i.e 30" id="duration" class="form-control">
        </div>
        <hr>
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault">Repeating Appointment ? No/Yes</label>
            <input formControlName="repeat" style="cursor: pointer;" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>     
        <div class="form-group">
            <label for="email">Email</label> 
            <input formControlName="email" type="email" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="msisdn">Phone No.</label> 
            <input formControlName="msisdn" type="text" name="msisdn" id="msisdn" class="form-control">
        </div>
        <div class="form-group">
            <label for="narration">Description</label> 
            <textarea formControlName="narration" name="narration" id="narration" style="border-radius: 0;" class="form-control"></textarea>
        </div>
   
        <button style="border-radius: 0;padding: .4rem;" class="my-2">Add Appointment</button>
    </form>
</div>