<div class="p-5">
    <div class="row flex-row-reverse text-end">
        <p class="mb-0 my-4 mx-1 close" style="cursor: pointer;font-size: 1.5rem;font-weight: bold;" (click)="closeDialog()"><i class="bi bi-x"></i></p>
   </div> 
    <h2 class="mb-0">Guest Appointment</h2>

    <form [formGroup]="createAppointmentForm" (submit)="createAppointment()">
          
        <div class="form-group">
            <label for="visitor_name">Name</label>
            <input formControlName="visitor_name" type="text" id="visitor_name" class="form-control">
        </div>
        <!-- <div class="row">
            <div class="form-group  col">
                <label for="appointment_start">Start Time</label>
                <input formControlName="appointment_start" type="datetime-local" name="appointment_start" id="appointment_start" class="form-control">
            </div>
            <div class="form-group  col">
                <label for="appointment_end">End Time</label>
                <input formControlName="appointment_end" type="datetime-local" name="appointment_end" id="appointment_end" class="form-control">
            </div>
        </div> -->
        <div>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate formControlName="appointment_start">
              <input matEndDate formControlName="appointment_end">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker style="width: 100%;" #rangePicker>
              <mat-date-range-picker-actions>
                <button style="padding: .4rem;" mat-button mat-button color="primary" matDateRangePickerCancel>Cancel</button>
                <button style="padding: .4rem;" mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
        </div>
        <div class="form-group">
            <label for="email">Email</label> 
            <input formControlName="email" type="email" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="msisdn">Phone No.</label> 
            <input formControlName="msisdn" type="text" name="msisdn" id="msisdn" class="form-control">
        </div>
        <div class="form-group">
            <label for="narration">Description</label> 
            <textarea formControlName="narration" name="narration" id="narration" style="border-radius: 0;" class="form-control"></textarea>
        </div>
        <button style="border-radius: 0;padding: .4rem;" class="my-2">Add Appointment</button>
    </form>
</div>