<div class="container">
    <div class="row p-3">
        <div class="row flex-row-reverse text-end">
            <p class="mb-0 my-4 mx-1 close" style="cursor: pointer;font-size: 1.5rem;font-weight: bold;" (click)="closeDialog()"><i class="bi bi-x"></i></p>
       </div>
        <form [formGroup]="shiftBreakForm" (submit)="onFormSubmit()" style="max-width: 500px;" class="mx-auto">
            <h2 style="font-weight: bold;font-size: large;">Add Break</h2>
            <hr>
            <div class="form-group my-1">
                <label for="name">Name</label>
                <input formControlName="name" class="form-control" type="text"  placeholder="Name">
            </div>
            <div class="form-group my-1">
                <label for="description">Description</label>
                <input formControlName="description" class="form-control" type="text" name="description" id="description" placeholder="Description">
            </div>
            <button type="submit" class="btn my-2 btn-outline-info" style="width: 100%;">Add Premise</button>
        </form>
    </div>
</div>

