<div class="py-5">
    <form [formGroup]="leaveForm" (submit)="onSubmit()" style="max-width: 500px;" class="mx-auto">
        <h4 style="font-weight: bold;font-size: large;">Request Leave</h4>
        <div class="form-group my-1">
            <label for="name">Name</label>
            <input formControlName="name" class="form-control" type="text" name="name" id="name" placeholder="Name">
            <small *ngIf="name?.invalid && name?.touched" style="color: rgb(240, 79, 79);">*Required</small>
        </div>
        <div class="form-group my-1">
            <label for="reason">Reason</label>
            <input formControlName="reason" class="form-control" type="text" name="reason" id="reason" placeholder="reason">
            <small *ngIf="reason?.invalid && reason?.touched" style="color: rgb(240, 79, 79);">*Required</small>
        </div>     
        <div class="form-group my-1">
             <label for="from">From</label>
             <input formControlName="from" class="form-control" type="datetime-local" name="reason" id="from" placeholder="start">
             <small *ngIf="from?.invalid && from?.touched" style="color: rgb(240, 79, 79);">*Required</small>
         </div>    
         <div class="form-group my-1">
             <label for="to">To</label>
             <input formControlName="to" class="form-control" type="datetime-local" name="to" id="to" placeholder="end">
             <small *ngIf="to?.invalid && to?.touched" style="color: rgb(240, 79, 79);">*Required</small>
         </div>         
        <button [disabled]="leaveForm.invalid"  type="submit" class="btn my-2 btn-outline-info" style="width: 100%;">Submit</button>
    </form>
</div>