<div style="position: relative;" id="wrapper">
  <mat-drawer-container>
      <mat-drawer mode="side"  fixedInViewport fixedTopGap  fixedBottomGap opened style="width:300px;">
          <mat-nav-list>
              <a routerLinkActive="active" routerLink="dashboard" [routerLinkActiveOptions]="{ exact: true }">
                <span><i class="bi bi-house-fill mx-3"></i></span>
                Dashboard</a>
              <a routerLinkActive="active" routerLink="accounts" >
                <span><i class="bi bi-buildings-fill mx-3"></i></span>
                Accounts</a>   
              <a routerLinkActive="active" routerLink="companies" (click)="viewPremiseCompanies()">
                <span><i class="bi bi-grid-3x3-gap-fill mx-3"></i></span>
                Companies</a>    
              <a routerLinkActive="active" routerLink="premises" >
                <span><i class="bi bi-buildings-fill mx-3"></i></span>
                Premises</a>   
              <a routerLinkActive="active" routerLink="notifications" (click)="viewPremiseNotifications()">
                <span><i class="bi bi-buildings-fill mx-3"></i></span>
                Notifications</a>
              <a routerLinkActive="active" routerLink="login" (click)="logout()">
                <span><i class="bi bi-box-arrow-left mx-3"></i></span>
                Logout</a>   
              
              
              <div *ngIf="user">
                    <div class="d-flex align-items-center" style="cursor: pointer;"  id="user-profile">
                        <div class="user-img">

                        </div>
                        <div class="px-2">
                            <h3 class="mb-0 dark-text">{{user?.user}}</h3>
                            <small class="light-text">koki company</small>
                        </div>
                    </div>
              </div>
            </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content style="overflow-x: hidden;">
          <!-- <div class="container-fluid">
              <div class="row">
                  <div class="d-flex text-align-center align-items-center justify-content-between">
                      <div *ngIf="user" class="d-flex align-items-center ml-5" style="height: 100%;">
                          <p style="cursor: pointer;font-size: 23px;" class="mb-0" (click)="toggleNavbar()"><i class="bi bi-list"></i></p>
                          <h1 style="margin-bottom: 0; font-size: 23px;font-weight: 700;cursor: pointer;" class="mb-0 logo" routerLink="dashboard">i<span style="color: #0BA5EC;">Guard</span></h1>
                      </div>
                      <div *ngIf="token">
                          <mat-icon (click)="openDialog()" style="cursor: pointer;" matBadge={{filteredArray?.length}} matBadgeColor="warn">notification_important</mat-icon>
                            <span class="cdk-visually-hidden">
                              Example with a home icon with overlaid badge showing the number 15
                          </span>
                      </div>
                  </div>    
              </div>
          </div> -->
          <div class="row">
              <div class="col-md-3 col-lg-2" id="side-bar">
                  <!-- <div>
                     <ul style="list-style: none;color: #808080;">
                        <li routerLinkActive="active shadow"><a routerLink="/" >
                          <span>
                              <i class="bi bi-columns-gap"></i>
                          </span>
                          Dashboard</a>
                          </li>
                        <li routerLinkActive="active shadow"><a [routerLink]="['/premises']">
                          <span>
                              <i class="bi bi-columns-gap"></i>
                          </span>
                          Premises</a></li>
                        <li routerLinkActive="active shadow"><a routerLink="/companies">
                          <span>
                              <i class="bi bi-columns-gap"></i>
                          </span>
                          Companies</a></li>
                        <li routerLinkActive="active shadow"><a routerLink="/staff">
                          <span>
                              <i class="bi bi-columns-gap"></i>
                          </span>
                          Staff</a></li>
                        <li routerLinkActive="active shadow"><a routerLink="login">  <span>
                          <i class="bi bi-columns-gap"></i>
                          </span>
                          Login</a></li>
                     </ul>
                  </div> -->
              </div>
              <div style="position: relative;overflow-x: hidden;height: calc(100vh - (40px));padding-top: 2.5rem;" class="px-0" id="window">
                <p *ngIf="user" class="light-text" (click)='navigationHistoryService.goBack()' style="cursor: pointer;font-size: 30px;position: absolute;top: 3.4rem;left: 2rem;"><i class="bi bi-arrow-left-square"></i></p>
                <router-outlet></router-outlet>
                <app-footer></app-footer>

                <!-- notifications -->

                <!--error notification -->
                <div *ngIf="errorNotification" class="error msg mat-elevation-z8 light-text d-flex p-2">
                    <div class="px-2">
                        <i style="font-size: 1.2rem;" class="dark-text bi bi-exclamation-triangle"></i>
                    </div>
                    <p class="mb-0" style="letter-spacing: 1px;">
                        {{errorNotification}}, try again
                    </p>
                </div>

                <!-- success notification -->
                <div *ngIf="successNotification" class="success msg mat-elevation-z8 light-text d-flex p-2">
                    <div class="px-2">
                        <i style="font-size: 1.2rem;" class="bi bi-check2-circle dark-text"></i> 
                    </div>
                    <p class="mb-0" style="letter-spacing: 1px;">
                        {{successNotification}}
                    </p>
                </div>
              </div>
          </div>
      </mat-drawer-content>
  </mat-drawer-container>
</div>

