<div class="p-3">
    <div class="row flex-row-reverse text-end">
        <p class="mb-0 my-4 mx-1 close" style="cursor: pointer;font-size: 1.5rem;font-weight: bold;" (click)="closeDialog()"><i class="bi bi-x"></i></p>
   </div>
    <div class="row">
        <h2 class="mb-0">Add Company Settings</h2>
        <hr>
        <form [formGroup]="createCompanySettingsForm" (submit)="onFormSubmit()">
            <div class="form-group mb-3">
                <label>Leave Approvals</label>
                <select  class="form-select" formControlName="leave_approvals_designation">
                    <option value="" disabled>Choose...</option>
                    <option *ngFor="let designation of companyDesignations"  [ngValue]="designation.id">{{designation.description}}</option>             
                </select>
            </div> 

            <div class="form-group mb-3">
                <label>Appointment Approvals</label>
                <select  class="form-select" formControlName="appointment_approvals_designation">
                    <option value="" disabled>Choose...</option>
                    <option *ngFor="let designation of companyDesignations"  [ngValue]="designation.id">{{designation.description}}</option>             
                </select>
            </div> 

            <div class="form-group mb-3">
                <label for="">Exclude Appointments</label>
                <div class="d-flex align-items-center" *ngFor="let role of companyDesignations">
                    <input (change)="getSelectedRoles($event)" formControlName="excluded_appointments_designation" class="mx-1" type="checkbox"  [name]="role.description" [value]="role.id">
                    <label>{{role.description}}</label>
                </div>
            </div> 
        
            <div class="form-group">
                <label for="sms_name">SMS Name</label> 
                <input formControlName="sms_name" type="text" name="sms_name" id="sms_name" class="form-control">
            </div>

            <div class="form-group mb-3">
                <label>Staff App Login</label>
                <select  class="form-select" formControlName="staff_app_login">
                    <option value="" disabled>Choose...</option>
                    <option *ngFor="let designation of companyDesignations"  [ngValue]="designation.id">{{designation.description}}</option>             
                </select>
            </div> 


            <div class="form-group">
                <label for="report_email">Report Email</label> 
                <input formControlName="report_email" type="text" name="report_email" id="report_email" class="form-control">
            </div>

            <div class="form-group">
                <label for="report_time">Report Time</label> 
                <input formControlName="report_time" type="time" name="report_time" id="report_time" class="form-control" step="900">
            </div>


            <button class="mt-3">Add Settings</button>
        </form>
    </div>
</div>


