/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif;
     max-width: 100vw;
     overflow-x: hidden;

    .light-border {
        border: 2px solid rgb(228, 228, 228)
    }


    .light-sm-border {
        border: 1px solid rgb(228, 228, 228)
    }

    .dark-border {
        border: 2px solid black;
    }


    .light-text {
        color: grey;
    }

    .dark-text {
        color: #1f1f1f;
    }

    .border-bottom-light {
        border-bottom: 2px solid rgb(228, 228, 228);
    }

    .border-top-light {
        border-top: 2px solid rgb(228, 228, 228);
    }

    .border-right-light {
        border-right: 2px solid rgb(228, 228, 228);
    }


    //table stylings 
    .table-rows:nth-child(even) {
        background: #ebebeb
    }


    .table-rows {
        &:hover {
            background-color: #e7e7e73d;
        }
    }


    .mat-mdc-tab-body-content {
        overflow-x: hidden!important;
    }
}
