<div class="p-3">
    <div class="row flex-row-reverse text-end">
        <p class="mb-0 my-4 mx-1 close" style="cursor: pointer;font-size: 1.5rem;font-weight: bold;" (click)="closeDialog()"><i class="bi bi-x"></i></p>
   </div>
   <form [formGroup]="leaveForm" (submit)="onSubmit()"  class="mx-auto">
    <h4 style="font-weight: bold;font-size: large;">Request Leave</h4>
    <hr>
        <div class="form-group mb-3">
            <label>Leave Request Type</label>
            <select  class="form-select" formControlName="type">
                <option value="" disabled>Choose...</option>
                <option *ngFor="let tag of leaveTypes"  [ngValue]="tag.id">{{tag.name}}</option>             
            </select>
        </div> 
        <div class="form-group">
            <label for="name">Name</label> 
            <input formControlName="name" type="text" name="name" id="name" class="form-control">
        </div>
        <div class="form-group my-1">
            <label for="reason">Reason</label>
            <input formControlName="reason" class="form-control" type="text" name="reason" id="reason" placeholder="reason">
            <small *ngIf="reason?.invalid && reason?.touched" style="color: rgb(240, 79, 79);">*Required</small>
        </div>  
        <div>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate formControlName="from" >
              <input matEndDate (change)="isLeaveMoreThanADay()" formControlName="to">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button style="padding: .4rem;" mat-button mat-button color="primary" matDateRangePickerCancel>Cancel</button>
                <button style="padding: .4rem;" mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
        </div>   
        <select formControlName="time_day" class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="MORNING">Morning</option>
            <option value="AFTERNOON">Afternoon</option>
            <option value="N/A">NA</option>
        </select>
        <button   type="submit" class="my-2" style="width: max-content;padding: .4rem;">Submit</button>
    </form>
</div>